<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh; background-color: #000;">
    <div class="text-center">
        <a href="#home">
            <img src="blanco.png" alt="Imagen" class="imagen hover-click">
        </a>

    </div>
    <div class="container form-container">
        <p class="title">Sign in to your account</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
            <div class="mb-3">
                <input type="text" class="form-control custom-input" placeholder="username" formControlName="username">
            </div>
            <div class="mb-3 d-flex flex-column">
                <a class="forgot-password pb-1 text-end px-2">Forgot password?</a>
                <input type="password" class="form-control custom-input" placeholder="password" formControlName="password">
            </div>
            <button type="submit" class="btn custom-btn" [disabled]="loginForm.invalid">Sign in</button>
            <p class="register-text">Don’t have an account? <a class="register-link" (click)="GoToSignUp()">Create an account</a></p>
        </form>
    </div>
</div>
