<footer class="py-4">
    <div class="div-footer">
        <div class="row">
            <div class="col-md-3">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img href="#header" src="naranja.png" alt="Logo" width="30" class="me-2">
                    <span href="#header" class="conecta">Conecta</span>
                </a>
                <p class="follow-us mx-lg-5 mb-0">Follow us</p>
                <p href="#" class="twitter mx-lg-5 mb-0">Twitter</p>
                <p href="#" class="instagram mx-lg-5">Instagram</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                
            </div>
            <div class="col-md-3 d-flex flex-column align-items-end mt-4">
            <a href="#" class="terms-nav nav-link text-white mb-1 mt-2">Terms & Conditions</a>
            <a href="#" class="privacy-nav nav-link text-white mb-1">Privacy Policy</a>
            <a (click)="GoToContact()" class="contac-nav nav-link text-white">Contact</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
            <p class="copyright mb-0">&copy; 2025 Conecta</p>
            </div>
        </div>
    </div>
</footer>
