.boton-account {
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #FC9918;
}

.sign-in {
    color: #FC9918;
    
}

.contenedor-tools {
    padding-left: 50px;
    padding-right: 50px;
}

.contenedor-texto {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

