
<app-header></app-header>

<!-- Home -->


    <!-- Lorem Ipsum lotipu sin. -->
    <div class="text-white p-5 m-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="titulo">Join <span style="color: #FF8200;">Conecta</span> Today</h1><br>
                <p class="parrafo p-2">
                    Discover the smarter way to organize, visualize, and grow your ideas. 
                    Start your journey with Conecta and unlock AI-powered tools to boost your creativity, 
                    collaborate in real time, and build smarter projects from day one. Join our growing 
                    community of thinkers, creators, and teams. Your next idea starts here.
                </p><br>
                <div class="d-flex gap-3 align-items-center justify-content-left">
                    <button class="boton-account" (click)="GoSignup()">Create account</button> <a (click)="GoSignin()" class="sign-in nav-link">Sign in</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4">
            </div>
        </div>
    </div>


<!-- Conecta's tools -->
<div class="cotenedor-tools container-fluid">
    <div class="contenedor-texto d-flex flex-column justify-content-center align-items-center">
        <h1 class="titulo text-center"><span style="color: #FF8200;">Conecta</span>'s tools</h1>
        <p class="text-center mb-0 mt-4"> 
            Discover the intelligent toolkit that enhances your creative and analytical workflow.
            Conecta provides integration between your ideas and AI-powered tools.
            Our platform allows you to manage projects efficiently, improve collaboration,
            and gain smart insights to support decision-making and innovation across your team.
        </p><br>
    </div>    
</div>

<!-- Diagrams with AI -->

<div class="diagrams-ai text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="contenedor-texto-diagrama col-md-6">
            <h1 class="titulo">Diagrams with AI</h1><br>
            <p class="parrafo p-2">
                Generate smart visualizations from complex data using Conecta’s AI engine.
                Easily create diagrams that reflect key insights in your content.
                Let artificial intelligence detect, group, and connect ideas visually.
                From simple mind maps to complex concept trees, simplify your workflow. <br><br>

                Translate text into visual form without losing meaning or structure.
                AI detects semantic proximity, relevance, and hierarchy to display
                intelligent graphs that help you explore ideas more effectively.
            </p>             
        </div>
        <div class="col-md-6">
            <!--<img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4"> -->
            <img src="diagrama.jpg" alt="Imagen" class=" img-fluid mx-4">
        </div>
    </div>
</div>

<!-- Create a work team -->
<div class="create-team text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <!--<img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4"> -->
            <img src="team.jpg" alt="Imagen" class=" imagen-team img-fluid mx-4">
        </div>
        <div class="contenedor-texto-team col-md-6">
            <h1 class="titulo">Create a work team</h1><br>
            <p class="parrafo p-2">
                Organize your projects with shared spaces and real-time collaboration tools.
                Collaborate with others on notes, research, and visuals in real time.
                Assign roles, discuss ideas, and keep progress transparent across the team.
                Build together efficiently with tools that adapt to your creative rhythm. <br><br>

                Support teamwork with organized dashboards, smart notifications, and tracking.
                No matter the project size, Conecta helps your group stay focused.
                Make teamwork smarter, not harder, with integrated features and clear design.
            </p> 
        </div>
        
    </div>
</div>

<!-- Other content -->
<div class="other-content text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="contenedor-texto-other col-md-6">
            <h1 class="titulo">Technologies used</h1><br>
            <p class="parrafo p-2">
                Explore the modern stack that powers Conecta and supports dynamic experiences.
                Conecta is built using modern, scalable frameworks that ensure performance.
                Our backend services use AI models to analyze, compare, and assist.
                From frontend to deployment, we use efficient and reliable technologies.<br><br>

                Tools like Angular, Graphology, and Sigma.js allow smooth data visualization.
                Combined with real-time APIs and secure environments, we deliver
                a fast, responsive user experience built according to your needs.
            </p>            
        </div>
        <div class="col-md-6">
            <!--<img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4"> -->
            <img src="diagrama.png" alt="Imagen" class=" img-fluid mx-4">
        </div>
    </div>
</div>


<!-- Know about Conecta. -->
<div class="create-team text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="blanco.png" alt="Imagen" class="logo-blanco imagen img-fluid">
        </div>
        <div class="contenedor-texto-about col-md-6">
            <h1 id="about" class="titulo">Know about <span style="color: #FF8200;">Conecta</span></h1><br>
            <p class="parrafo p-2">
                Conecta is a smart workspace designed to turn your thoughts into organized, 
                visual ideas. It combines creativity and AI to help you plan, connect, and grow your 
                projects intuitively. Whether you're working alone or with a team, Conecta adapts to 
                your needs and boosts your workflow. <br><br>

                Built for creators, thinkers, and innovators, Conecta goes beyond simple note-taking. 
                It reveals patterns, relationships, and insights in your content, helping you move 
                from idea to execution with clarity and confidence.
            </p>
        </div>
        
    </div>
</div>

<app-footer></app-footer>

