
<app-header></app-header>

<!-- Home -->


    <!-- Lorem Ipsum lotipu sin. -->
    <div class=" text-white p-5 m-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="titulo">Lorem Ipsum lotipu sin</h1><br>
                <p class="parrafo p-2">
                    Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                    voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt explicabo.
                </p><br>
                <div class="d-flex gap-3 align-items-center justify-content-left">
                    <button class="boton-account">Create account</button> <a (click)="GoSignin()" class="sign-in nav-link">Sign in</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4">
            </div>
        </div>
    </div>


<!-- Conecta's tools -->
<div class="cotenedor-tools container-fluid">
    <div class="contenedor-texto d-flex flex-column justify-content-center align-items-center">
        <h1 class="titulo text-center"><span style="color: #FF8200;">Conecta</span>'s tools</h1>
        <p class="text-center mb-0 mt-4"> 
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus tempora cupiditate 
            sapiente nam ullam incidunt! Rem necessitatibus hic aspernatur voluptas deserunt dolore quia, 
            aliquam sint nostrum consequatur doloremque quaerat ullam?
        </p><br>
    </div>    
</div>

<!-- Diagrams with AI -->

<div class="diagrams-ai text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="contenedor-texto-diagrama col-md-6">
            <h1 class="titulo">Diagrams with AI</h1><br>
            <p class="parrafo p-2">
                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo. <br><br>

                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo.
            </p>             
        </div>
        <div class="col-md-6">
            <!--<img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4"> -->
            <img src="blanco.png" alt="Imagen" class="imagen-derecha img-fluid mx-4">
        </div>
    </div>
</div>

<!-- Create a work team -->
<div class="create-team text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <!--<img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4"> -->
            <img src="blanco.png" alt="Imagen" class="imagen-derecha img-fluid mx-4">
        </div>
        <div class="contenedor-texto-team col-md-6">
            <h1 class="titulo">Create a work team</h1><br>
            <p class="parrafo p-2">
                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo. <br><br>

                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo.
            </p> 
        </div>
        
    </div>
</div>

<!-- Other content -->
<div class="other-content text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="contenedor-texto-other col-md-6">
            <h1 class="titulo">Lorem Ipsum lotipu sin</h1><br>
            <p class="parrafo p-2">
                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo. <br><br>

                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo.
            </p>            
        </div>
        <div class="col-md-6">
            <!--<img src="laptop-phone.png" alt="Imagen" class="imagen img-fluid mx-4"> -->
            <img src="blanco.png" alt="Imagen" class="imagen-derecha img-fluid mx-4">
        </div>
    </div>
</div>


<!-- Know about Conecta. -->
<div class="create-team text-white p-5 m-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="blanco.png" alt="Imagen" class="logo-blanco imagen img-fluid">
        </div>
        <div class="contenedor-texto-about col-md-6">
            <h1 id="about" class="titulo">Know about <span style="color: #FF8200;">Conecta</span></h1><br>
            <p class="parrafo p-2">
                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo. <br><br>

                Sed ut perspiciatis unde omnis iste natus error lutir accusantium doloremque sit 
                voluptatem accusantium doloremque laudantium, voluptatem accusantium doloremque 
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                architecto beatae vitae dicta sunt explicabo.
            </p>
        </div>
        
    </div>
</div>

<app-footer></app-footer>

