<!-- <app-header-backoffice (toggleSidebar)="handleSidebarToggle()"></app-header-backoffice>

<div class="web-container" [class.collapsed]="isCollapsed">
    <div>
        <app-sidebar [collapsed]="isCollapsed"></app-sidebar>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div> -->
<app-header-backoffice (toggleSidebar)="handleSidebarToggle()"></app-header-backoffice>

<div class="web-container" [class.collapsed]="isCollapsed" [class.folder-panel-open]="comunicationService.isFolderPanelVisible$ | async">
  <div class="sidebar-container" *ngIf="!isNoteRouteActive()">
    <app-sidebar [collapsed]="isCollapsed"></app-sidebar>
  </div>
  <div class="project-options-sidebar-container" *ngIf="isNoteRouteActive()">
    <app-project-options-sidebar></app-project-options-sidebar>
  </div>
  <div class="main-content" [class.has-project-options]="isNoteRouteActive()">
    <router-outlet></router-outlet>
  </div>
</div>
