.main-content {
    background-color: #434343 !important; color: white !important;
    
    .logo {
        width: 0px;
    }
}

.app-container.with-panel {
    margin-right: 300px; // ancho del panel si deseas empujar
    transition: margin-right 0.3s ease;
}

