// .main-content {
//     background-color: margin-left margin-right margin-top margin-bottom #434343 !important; 
//     color: white !important;
    
//     .logo { 
//         width: 0px;
//     }
//     .backoffice-image {
//         max-width: 30%; // Ajusta el tamaño de la imagen
//         max-height: 30%; // Asegura que no exceda el contenedor
//         object-fit: contain; // Mantiene las proporciones de la imagen
//     }
// }

// .app-container.with-panel {
//     margin-right: 0; // Elimina el margen derecho
//     margin-left: 300px; // Mueve el margen al lado izquierdo si es necesario
//     transition: margin-left 0.3s ease;
// }

.web-container{
    width: 100%;
    height: calc(100vh - 43px);
    display: grid;
    grid-template-columns: 225px 1fr;
    margin-top: 43px; 

    &.collapsed {
        grid-template-columns: 45px 1fr;
    }
}

