<aside class="sidebar z-1 container-fluid d-flex flex-column align-items-center">
    <div class="container-logo-top d-flex flex-column align-items-center">
        <i class="bi bi-collection-fill hover-click" (click)="emitToggleFolderPanel()"></i>
        <i class="bi bi-diagram-3-fill hover-click" (click)="navigateTo('/backoffice/conections')"></i>
        <i class="bi bi-gear-fill hover-click" (click)="navigateTo('/backoffice/settings')"></i>
    </div>
    <div class="container-logo-top d-flex flex-column align-items-center">
        <i class="bi bi-person-circle hover-click" (click)="navigateTo('/backoffice/user')"></i>
    </div>   
</aside>