<div class="sidebar-container text-black" [class.hide-me]="collapsed">
  <!-- Íconos y contenido del sidebar -->
   <div class="user-profile d-flex align-items-center p-3">
  <div class="avatar me-2"></div>
  <span class="user-name text-white fw-bold">{{ user?.username }}</span>
</div>
   <div class="d-flex flex-column justify-content-between align-items-center p-3">
    <button class="btn btn-danger w-100 mb-3 px-1" (click)="toggleProjectForm()"> <!-- siempre visible -->
      <i class="bi bi-plus-circle px-2"></i>
      <span>Proyecto</span>
    </button>
    

    <button class="btn btn-success w-100  px-1">
      <i class="bi bi-people-fill px-2"></i>
      <span>Crear equipo</span>
    </button>
  </div>

  <nav>
    <ul>
      <li><i class="bi bi-folder2-open"></i> <span>Proyectos</span></li>
      <li><i class="bi bi-people"></i> <span>Equipos</span></li>
      <li><i class="bi bi-person"></i> <span>Perfil</span></li>
      <li><i class="bi bi-gear"></i> <span>Ajustes</span></li>
    </ul>
  </nav>
</div>
<!-- MODAL CREATE PROYECT-->
<div *ngIf="showProjectForm" class="custom-modal-overlay">
  <div class="custom-modal text-black">
    <h5 class="mb-3">Nuevo Proyecto</h5>
    
    <form (ngSubmit)="createProject()" #projectForm="ngForm">
      <div class="mb-3">
        <label for="projectName" class="form-label">Nombre:</label>
        <input
          type="text"
          id="projectName"
          name="projectName"
          class="form-control"
          required
          [(ngModel)]="projectName"
        />
      </div>

      <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Crear</button>
        <button type="button" class="btn btn-secondary" (click)="toggleProjectForm()">Cancelar</button>
      </div>
    </form>
  </div>
</div>