<div class="sidebar-container" [class.hide-me]="collapsed">
  <!-- Íconos y contenido del sidebar -->
   <div class="user-profile d-flex align-items-center p-3" *ngIf="user">
    <!--<div class="avatar me-2"></div>-->
    <span class=" text-white fw-bold px-2" >{{ user?.username }}</span>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center p-3">
    <button style="background-color: #FF8B0F;" class="btn w-100 mb-3 px-1 text-white" (click)="toggleProjectForm()"> <!-- siempre visible -->
      <i class="bi bi-plus-circle px-2"></i>
      <span>Proyect</span>
    </button>
    <button style="background-color:#696b6b;" class="btn w-100 px-1 text-white">
      <i class="bi bi-people-fill px-2"></i>
      <span>Crete team</span>
    </button>
  </div>

  <nav>
    <ul>
      <li (click)="onProjectsIconClick()">
        <div class="hover-click d-flex flex-row align-items-center">
          <i class="bi bi-folder-fill"></i> 
          <span class="px-2">Proyects</span>
        </div>
        
      </li>
      <ul *ngIf="showProjects && !collapsed" class="list-unstyled ps-4 mt-2" style="font-size: 0.9rem;">
  <li
    *ngFor="let project of projects"
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center position-relative"
  >
    <div class="d-flex align-items-center flex-grow-1" (click)="navigateToProject(project)">
      <i class="bi bi-folder-fill me-2"></i>
      <span>{{ project.name }}</span>
    </div>

    <!-- Menú de 3 puntos -->
    <div class="dropdown" >
      <button class="btn btn-sm btn-link text-light" (click)="toggleProjectMenu(project)">
        <i class="bi bi-three-dots-vertical">
          
        </i>
      </button>
      <ul *ngIf="activeProject === project" class="dropdown-menu show custom-dropdown w-50" style="position: absolute; right: 0; top: 100%; z-index: 9999; background-color: #696b6b; ">
        <li>
          <button class="dropdown-item" (click)="addUserToProject(project)">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <i class="bi bi-plus-circle"></i>
              <div>Add user</div>
            </div>
          </button>
        </li>
        <li>
          <button class="dropdown-item" (click)="deleteProject(project)">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <i class="bi bi-trash"></i>
              <div>Delete</div>
            </div>
          </button>
      </li>
      </ul>
    </div>
  </li>
</ul>


      <!-- <li><i class="bi bi-people-fill"></i> <span>Equipos</span></li> -->
     <li (click)="navigateToProfile()">
      <div class="hover-click d-flex flex-row align-items-center">
        <i class="bi bi-person-fill"></i>
        <span class="px-2">Perfil</span>
      </div>
    </li>
      <!-- <li><i class="bi bi-gear-fill"></i> <span>Ajustes</span></li> -->
    </ul>
  </nav>
</div>
<!-- MODAL CREATE PROYECT-->
<div *ngIf="showProjectForm" class="custom-modal-overlay">
  <div class="custom-modal text-black">
    <h5 class="mb-3">New Proyect</h5>
    
    <form (ngSubmit)="createProject()" #projectForm="ngForm">
      <div class="mb-3">
        <input
  type="text"
  id="projectName"
  name="projectName"
  class="form-control"
  required
  [(ngModel)]="projectName"
  placeholder="Title"
/>
      </div>

      <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Create</button>
        <button type="button" class="btn btn-secondary" (click)="toggleProjectForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>