    :host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;    
    margin: 0;
    font-family: "IBM Plex Mono";
    }

    .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    background-color: #252525;
    border-radius: 10px;
    font-family: inherit;

    &::selection {
        background-color: #ff8400;
        color: #ffffff;
    }
    }

    .profile-header {
    margin-bottom: 20px;
    }

    .profile-icon {
    font-size: 3rem;
    color: #ffffff;
    }

    .profile-form {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;

    }

    .form-group {
    margin-bottom: 15px;
    width: 100%;
    }

    label {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    font-size: 0.9rem;
    width: 100%;
    text-align: left;
    }

    .form-control {
    width: 100%;
    padding: 10px;
    border: 0px solid #555;
    border-radius: 15px;
    background-color: #444;
    color: #eee;
    box-sizing: border-box;
    }

    .form-control:read-only {
        cursor: not-allowed;
    }

    .edit-btn {
    background-color: #ff8400;
    color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    
        &:hover {
        background-color: #ff8400d3;
        color: black;
        }
    }

