#header {
    position: fixed;
    top: 0; /* Asegura que el header se pegue a la parte superior */
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    /* Mantén los estilos existentes */
    /* ... */
}


.logo-naranja {
    width: 35px;
}
.conecta {
    font-size: 35px;
    font-family: afacad !important; 
}

.nav-link {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

.boton-account {
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #FF8200;

    font-family: "IBM Plex Mono" !important;
    font-weight: 400;

    &:hover {
    background-color: #ffffff !important;
    }
}


.home-nav {
    &:hover {
    color: #FF8200 !important;
    }
}

.about-nav {
    &:hover {
    color: #FF8200 !important;
    }
}

.menu {
    font-family: "IBM Plex Mono" !important;
}
