<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-black px-4">
<!-- Imagotipo -->
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="naranja.png" alt="Logo" width="40" class="me-2">
            <span class="conecta">Conecta</span>
        </a>
<!-- Menu -->
        <div class="menu collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <a class="home-nav nav-link text-white" href="#">home</a>
                </li>
                <li>
                    <a class="about-nav nav-link text-white" href="#about">about us</a>
                </li>
            </ul>
        </div>
<!-- Botón Account -->
        <div class="d-flex align-items-center">
            <button class="boton-account text-black d-none d-lg-block" (click)="GoToSignIn()">Account</button>
            
        </div>
<!-- Botón hamburguesa personalizado -->
        <label class="burger d-lg-none" for="burger-menu-toggle">
            <input type="checkbox" id="burger-menu-toggle" (change)="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </label>
<!-- Menú móvil sticky debajo del header -->
        <div class="mobile-sticky-menu d-lg-none" *ngIf="showMobileMenu">
            <a class="mobile-link" href="#" (click)="goToSection('home'); $event.preventDefault()">home</a>
            <a class="mobile-link" href="#about" (click)="goToSection('about'); $event.preventDefault()">about us</a>
            <button class="mobile-link" (click)="GoToSignIn()">Account</button>
        </div>
    </div>
</nav>