.header-backoffice {
    background-color: #272626 !important;
    z-index: 100 !important;
    .logo {
        width: 25px;
        margin-top: 10px;
        margin-left: -4px;
        margin-right: 10px;
        margin-bottom: 10px;        
    }
    .power {
        font-size: 20px;        
        color: #8e8e8e;
        

    }
    .hover-click {
        &:hover {
            cursor: pointer;
            color: #FF8200;
            transform: scale(1.2);
        }
    }
}
div {
    &::selection {
        background-color: #ff8400;
        color: #ffffff;
    }
}