<div class="grid-stack" #gridStackElement>
    <div class="grid-stack-item" *ngFor="let item of gridItems; let i = index"
        [attr.data-gs-x]="item.x"
        [attr.data-gs-y]="item.y"
        [attr.data-gs-w]="item.w"
        [attr.data-gs-h]="item.h">
    <div class="grid-stack-item-content" (click)="editNote(i)">
        <h2 *ngIf="!editingIndex[i]" class="note-title-display">{{ item.title }}</h2>
        <input *ngIf="editingIndex[i]" type="text" [(ngModel)]="gridItems[i].title" class="note-title-edit" (blur)="saveNote(i)">

        <div *ngIf="!editingIndex[i]" class="note-content-display">{{ item.content }}</div>
        <textarea *ngIf="editingIndex[i]" [(ngModel)]="gridItems[i].content" class="note-content-edit" (blur)="saveNote(i)"></textarea>
    </div>
    </div>
</div>