:host {
    position: fixed;
    top: 40px;
    left: 35px; // Ancho del sidebar
    height: calc(100vh - 30px);
    background-color: #212121;
    z-index: 0;
    display: flex;
    flex-direction: row;
}

.folder-panel {
    display: flex;
    flex-direction: row;
    width: var(--panel-width, 300px);
    min-width: 200px;
    max-width: 600px;
    height: 100%;
    background-color: #212121;
    box-shadow: 2px 0 8px rgba(44, 44, 44, 0.3);
    position: relative;
    margin-left: 10px;
}

.panel-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}

.panel-header p {
    flex-grow: 1;
    padding: 1rem;
    color: #fff;
    overflow: auto;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.notes-list--top {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.notes-list {
    margin-top: 1rem;
}

.file {
    &:hover {
        background-color: #636363;
        border-radius: 3px;
        cursor: pointer;
    }
    padding: 1px;
    margin: 2px;
}
.folder {
    &:hover {
        background-color: #636363;
        border-radius: 3px;
        cursor: pointer;
    }
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px;
}
p {
    font-family: "IBM Plex Mono" !important;
    margin: 0; // Resetear márgenes del párrafo para un mejor control del layout
}

.note-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    background: #232323;
    border-radius: 6px;
    padding: 4px 8px;
    width: 100%;
}

.note-icon {
    font-size: 1.3rem;
    color: #8B8B8B;
    margin-right: 10px;
}

.note-input {
    flex: 1;
    border: none;
    background: transparent;
    color: #fff;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    outline: none;
    border-bottom: 1px solid #444;
    padding: 2px 4px;
    border-radius: 0;
    
}

.note-input[readonly] {
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.note-delete {
    color: #c7c7c7;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.note-delete:hover {
    opacity: 1;
    color: #c7c7c7;
}